
<div class="divLogin">
    <form action="/admin/login" method="post" class="formLogin">
        <input type="text" placeholder="Ingrese aquí su usuario" name="usuario">
        <br>
        <input type="text" placeholder="Ingrese aquí su contraseña" name="password">
        <br>
        {{#if error}}
        <p class="datosIncorrectos">Tus datos no son validos. Por favor, vuelve a intentarlo.</p>
        {{/if}}
        <button type="submit" class="buttonLogin">Ingresar</button>
    </form>
</div>