<main class="mainIndex">

    <h1 class="subtitulo">Bienvenido al administrador de <br>Food Restaurant</h1>

    <a href="/admin/login" class="buttonLogin buttonIrAdmin">Ir al administrador</a>
</main>
