
.sectionMenuSombra {
    height: fit-content;
}

.sectionVinos {
    text-align: center;
}

.sectionVinos img {
    width: 80vw;
}

.sectionVinos div {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto 0;
}

.sectionVinos div p {
    font-size: 1rem;
}


@media screen and (min-width: 768px) {
    .sectionMenuSombra {
        padding-bottom: 0px;
    }

    .sectionVinos {
        display: flex;
        justify-content: space-between;
    }

    .sectionVinos img {
        width: 40vw;
    }

    .sectionVinos div {
        width: 35vw;
    }

    .cartaCoctail {
        /* width: 100vw; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        gap:25px;
    }
}
