body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('../images/galleryCenter.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.subtitulo {
  text-align: center;
}

p, h1 {
  color: white;
  /* background-color: white; */
}

h1 {
  font-size: 35px;
  text-decoration: underline;
  text-align: center;

}

.datosIncorrectos {
  color: red;
}

.divLogin {
  text-align: center;
}

.divLogin label {
  background-color: white;
}

.botonCerrarSesion {
  background-color: red;
  /* border-radius: 8px; */
  /* height: 20px; */
}

a {
  color: white;
  /* text-align: center; */
}

.tituloTabla {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.botonAgregarPlato {
  background-color: green;
}

h2 {
  color: white;;
}

.divTabla {
  width: 70vw;
  margin: 10px auto;
  color: white;
}

.table {
  width: 100%;
  text-align: center;
}

i {
  color: white;
  font-size: 20px;
  margin: 10px ;
}
