body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('../images/galleryCenter.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

/* PANTALLA PRINCIPAL */
.mainIndex {
  text-align: center;
}

.subtitulo {
  text-align: center;
  margin-top: 30vh;
  text-decoration: none;
  font-size: 40px;
  color: white;
  margin-bottom: 50px;
}

.buttonIrAdmin {
  padding: 10px;
  margin-top: 20px;
} 

/* /admin/login */
.formLogin {
  width: 70vh;
  margin: 25vh auto;
  display: flex;
  flex-direction: column;
}

.formLogin input {
  width: 20vw;
  height: 32px;
  margin: 10px auto;
  padding: 10px;
  border-radius: 8px;
  border: #B5986D;
  font-size: 18px;
  color: #B5986D;
}

.buttonLogin {
  height: 35px;
  width: 100px;
  margin: 30px auto;
  border-radius: 8px;
  border: #B5986D;
  background-color: #B5986D;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.datosIncorrectos {
  color: red;
  font-size: 16px;
  text-align: center;
}

/* /admin/menuSemanal */
.divMenuSemanal {
  background-color: #021222;
  margin: 50px;
}

.sectionMenuSombra div {
  height: 10vh;
  text-align: center;
  padding-top: 30px;
}

.h2Principal {
  text-decoration: underline;
  color: #B5986D;
  font-size: 2.6rem;
  position: relative;
}

.h2Sombra {
  opacity: 0.1;
  color: white;
  font-size: 3.6rem;
  margin: 0;
  position: relative;
  bottom: 106px;
}

.saludoUsuario {
  display: flex;
  align-items: center;
  width: 40vw;
  justify-content: space-around;
  margin: 20px auto;
  
}

.botonCerrarSesion {
  color: white;
  cursor: pointer;
  text-decoration: none;
  padding: 8px;
  width: auto;
  border-radius: 8px;
  border: #B5986D;
  background-color: lightgray;
  color: #B5986D;
  font-size: 16px;
}

.pSaludo {
  color: white;
}

table {
  margin: 10px auto;
  padding: 20px;
  color: white;
}

.celdaTitulo {
  border-bottom: 1px solid #B5986D;
  padding: 8px;
}

td {
  opacity: 0.6;
  border-bottom: 0.25px solid #B5986D;
  padding: 10px;
}

i {
  color: white;
  font-size: 20px;
  margin: 10px ;
  /* opacity: 1; */
}

.divBotonAgregar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.botonAgregarPlato {
  margin: 30px auto;
  padding: 10px;
  border-radius: 8px;
  border: #B5986D;
  background-color: #B5986D;
  color: white;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
}

/* menuSemanal/agregar */
.h2AgregarModificar {
  color: white;
  text-align: center;
  padding-bottom: 20px;
  font-size: 2.2rem;
  opacity: 0.8;
}

.formDivLabel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #021222; */
  /* width: 20vw; */
}

.formDivLabel label {
  color: white;
  background-color: #021222;
  padding: 10px;

  margin: 10px;
  font-size: 20px;
}

.divButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}

#buttonAgregarCancelar {
  margin: 15px;
}

.buttonCancelar {
  text-decoration: none;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background-color: lightgray;
  color: #B5986D;
}

/* menuSemanal/modificar */
.formModificar {
  margin-top: 8vh;
}
.formLogin textarea {
  width: 20vw;
  margin: 10px auto;
  padding: 10px;
  border-radius: 8px;
  border: #B5986D;
  font-size: 18px;
  color: #B5986D;
}

.inputCheckbox {
  width: 10px;
}

.labelCheckbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 20vw;
  /* justify-content: space-between; */
  /* justify-content: space-around; */
}

.labelCheckbox input {
  width: 20px;
  margin: 0 10px 0 0;
}