/* MAIN */

/* section titulo */
.sectionTitulo {
    height: 35vh;
    background-image: url("../../../public/assets/img/menu/sectionTitulo.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2.3rem;
}

/* section links */
ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

a {
    color: var(--blanco);
    text-decoration: none;
    opacity: 0.7;
}

.active {
    color: var(--marron);
    text-decoration: underline;
}

/* section menu sombra */
.sectionMenuSombra div {
    margin-top: 40px;
    height: 5vh;
}

.h2Principal {
    text-decoration: underline;
    color: var(--marron);
    font-size: 1.3rem;
    position: relative;
}

.h2Sombra {
    opacity: 0.1;
    font-size: 2.3rem;
    /* position: absolute; */
    /* top: 250px; */
    position: relative;
    bottom: 70px;
}

/* section menues */
.sectionMenues {
    width: 80vw;
    margin: 0 auto;
}

.sectionMenues article {
    margin: 40px 0;
}

.sectionMenues figure {
    width: 70vw;
    border: 1px solid var(--marron);
    display: flex;
    margin: 10px 0;
}

.sectionMenues img {
    width: 50vw;
    margin: 10px auto;
    /* align-self: center; */
    /* justify-items: center; */
}

.sectionMenues article div {
    text-align: center;
}

.sectionMenues h3 {
    color: var(--marron);
    padding: 4px;
}

.sectionMenues article div a {
    text-decoration: underline;

}

@media screen and (min-width: 768px) {
    /* section titulo */

    .sectionTitulo h1 {
        font-size: 3rem;
    }

    /* section links */
    .sectionLinks {
        margin-top: 20px;
        align-items: center;
    }

    .sectionLinks a {
        font-size: 0.9rem;
    }

    /* section menu sombra */

    .sectionMenuSombra div {
        margin-top: 60px;
    }

    .h2Principal {
        font-size: 2rem;
    }

    .h2Sombra {
        font-size: 3rem;
        bottom: 65px;
    }

    /* section menues */
    .sectionMenues {
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .sectionMenues article {
        width: 30vw;
        margin: 0 auto 40px;
    }

    .sectionMenues figure {
        width: 35vw;
    }

    .sectionMenues img {
        width: 25vw;
    }

    .sectionMenues h3 {
        font-size: 1.1rem;
    }
    
    .sectionMenues article div a {
        font-size: 0.8rem;
    }
}