:root {
  --marron: #B5986D;
  --azulOscuro: #021222;
  --blanco: #FFFFFF;
  --h1: 1.4rem;
  --h2: 1.2rem;
  /* --h3: 1.1rem; */
  --h4: 1.1rem;
  --h5: 0.9rem
}

* {
  box-sizing: border-box;
}

.App {
  background-color: var(--azulOscuro);
  font-family: 'Noto Serif SC', serif;
  font-size: 62.5%;
  color: var(--blanco);
  
}
