.sectionMenuesPrincipal {
    padding: 10px;
}

.menuSemanal h1 {
    font-size: 1rem; 
}

.menuSemanal h2 {
    width: 60vw;
    padding-top: 8px;
    font-size: 0.7rem;
    opacity: 0.6; 
    text-decoration: none;
    text-align: left;
}

.articleMenuesPrincipal {
    display: flex;
    flex-direction: column;
}

figure {
    /* width: 100px; */
    /* height: 185px; */
    margin: 10px auto;
}
